:root {
    --font-primary: 'Arial', sans-serif, serif;
    --font-secondary: 'Arial', sans-serif;
    --fontsize-primary: 16px;
    --fontsize-secondary: 8px;
    --clr-background: #2D3047;
    --clr-primary:  #419D78;
    --clr-secondary: #f3f2f2;
}

body {
    margin: 0;
    padding: 0;
}
.sign-in-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--clr-background);
}
.sign-in-container h1 {
    font-family: var(--font-primary);
    color: var(--clr-primary);
}
.sign-in-container-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: var(--clr-secondary) ;
    padding: 50px;
    border-radius: 10px;
}
.sign-in-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.in {
    border: 1px solid var(--clr-background);
    padding: 10px;
    outline:none;
    transition:all 200ms ease-in-out;

}

.in:focus {
    border: 1px solid var(--clr-primary);
    outline:none;
}
#sign-button {
    font-family: var(--font-secondary);
    font-size: var(--font-secondary);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    font-weight: 700;
}
h1{
    margin: 0;
}